body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
.container {
    width: 90%;
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}
table th {
    background-color: #196a5e2e;
}
table tr:nth-child(even) {
    background-color: #2e7561;
}
p {
    text-align: center;
    color: #666;
}
.update-btn{
    background-color: blue;
}
.delete-btn {
    background-color: red;
}
a {
    text-decoration: none;
    color: white;
}

