body{
    text-align: center;
    margin: 40px 20px auto 20px;

}

#main {
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 30%;
    background-color: rgb(26, 93, 98);
}

h3 {
    color: white;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: none;
}
