body {
    text-align: center;
}

div{
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 30%;
    background-color: rgb(26, 93, 98);
    color: white;
}
.update-btn{
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border: none;
    margin-right: 20px;
}

.delete-btn{
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}
